.slideshow-div{
  height : 470px;
  border : 2px solid black;
  padding : 4px;
  position: relative;
}
 
.thumbnails img{
  height : 40px;
  margin : 10px;
}

.current-thumbnail{
  border : 3px solid grey;
}

.slides{
  position: absolute;
}

.thumbs{
  position: absolute;
  bottom: 0;
}